DATABASE_URL=postgresql://postgres:root@localhost:5432/lsms

BETTER_AUTH_SECRET=ba_hbxrkn0bip1haor6ip0znh8l0cwpi7lp
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
INITIAL_SETUP_TOKEN=YOUR_SETUP_TOKEN